body {
	background-image: url("images/wallpaper1.jpg");
	color: #FFFFFF;
	background-color: blue	;
}
h1 {
	font-size: 40px;
	font-family: 'Droid Serif', serif;
}
h2 {
	text-align: center;
	font-family: 'Droid Serif', serif;
}
h2.col1 {
	text-align: left;
	padding-left: 85px;
}
h2.col3 {
	padding: 0 72px 0 0;
	text-align: right;
}
h3 {
	font-size: 20px;
	text-align: right;
	margin-top: 10px;
	font-family: 'Droid Serif', serif;
}
hr {
    border: 5;
    height: 5; 
    margin: 10px 0px 10px 0px;
}
img.header { max-width:  100px; }
img.main {
	max-width:  100%;
	max-height: 370px;
	border: 3px solid black;
}
img.sample {
	max-width:  270px;
	border: 3px solid black;
}
p { font-family: 'Droid Serif', serif; }
p.col1 {
	text-align: left;
	padding-left: 76px;
}
p.col3 {
	text-align: right;
	padding: 0 53px 0 0;
}
p#footer {
	font-style: italic;
	font-size: 10pt;
}
a { color: #CCFFFF; }
a:hover { color: #FFFFFF; }
.header { 
	text-align: right;
	margin-top: 45px;
}
.main {
	margin-top: 25px;
	max-width: 100%
}
#col2 { text-align: center; }
#col3 {
	padding: 0 15px 0 0;
	text-align: right;
}
#img3 { text-align: right; }
#feature {
	margin-left: 7px;
	color: #cccccc;
	font-size: 28px;
}